body[incoming-section='fix'] {
    --hud-color: #{$white};
}

.fix {
    &.section {
        height: 150vh;
        z-index: 11;
    }

    .content {
        // border: 8px solid $white;
        box-sizing: border-box;
        color: $white;
        display: flex;
        height: 80vh;
        opacity: var(--y-visibility-ratio);
        margin: 0 var(--grid-margin);
        position: relative;
        top: 10vh;
        transform: faux-fixed();

        &__pane {
            border: 8px solid $white;
            box-sizing: border-box;
            flex: none;
            position: relative;

            &:first-child {
                border: none;
                // background-color: $white;
                width: 15%;
            }

            &:last-child {
                border-left: none;
                padding: 4rem;
                width: 30%;
            }

            &:nth-child(2) {
                @include stripe-background($background-color: $white, $opacity: 0.35);
                border-right: 4px solid $white;
                width: 55%;
            }

            h3 {
                color: $white;
                font-size: 8vw;
                left: 0;
                line-height: 0.8;
                position: absolute;
                text-transform: uppercase;
                top: calc(100% + 9px);
                transform: rotate(-90deg);
                transform-origin: top left;
                // padding: 2rem;
            }
        }
    }

    &__background { // .fix__background
        background-color: $dark-blue;
        overflow: hidden;
        position: relative;

        &:before {
            background: radial-gradient(circle at 50%, lighten($dark-blue, 25%), $dark-blue 50%);
            content: '';
            height: 100vh;
            left: 50%;
            opacity: var(--y-visibility-ratio);
            position: absolute;
            top: 0;
            transform: translateX(-50%) faux-fixed();
            width: 100vw;
        }

        &.section-background {
            height: 150vh;
        }
    }
}
