<div class="grid">
    <div class="hamburger"></div>
    <div class="logo">Logo</div>
    <div class="cart">C</div>
</div>

{% schema %}
    {
        "name": "header",
        "tag": "header"
    }
{% endschema %}