<div class='grid'>
  <div class='grid__column--offset-1'>
    <div class='title'>
      <span parallax='1'>BATE<br/>LEUR</span>
      <div class="subtitle" parallax='2'>
        THE IMMORTAL WHOOP FRAME
      </div>
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "hero",
        "tag": "section",
        "class": "hero page-section"
    }
{% endschema %}