<div class='grid'>
  <div class='grid__column--offset-1'>
    <div class="title">
      BATE<br/>LEUR
      <div class="subtitle">
        THE IMMORTAL WHOOP FRAME
      </div>
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "hero",
        "tag": "section",
        "class": "hero page-slide"
    }
{% endschema %}