<div class='grid grid--full-page grid--align-center'>
  <div class='display-title grid__column grid__column--7 grid__column--offset-1'>
    <h1>The <span class='highlight'>worst part</span> isn't the crash, it's the <span class='highlight'>endless wait</span> for new parts</h1>
  </div>
  <div class='copy-paragraph grid__column grid__column--3'>
    <p class='lead'>This frustrating time in a budding pilot’s life is the inspiration behind the Bateleur, a modular 3D printable 2 inch whoop frame.</p>
    <p>Now the time between a critical failure and being airborne again can be minutes instead of days. Giving you more time to hone those piloting skills. More time enjoying the thrill of being weightless. More time with a smile on your face.</p>
    <p>And now is a time in which we can all do with more smiles.</p>
  </div>
</div>

{% schema %}
  {
    "name": "intro",
    "class": "intro page-slide page-slide--white-bg",
    "tag": "section"
  }
{% endschema %}