<div class='specs__grid'>
  <div class='grid-border grid-border--top'></div>
  <div class='grid-border grid-border--bottom'></div>
<div>
{% schema %}
  {
    "name": "specs",
    "class": "specs page-section",
    "tag": "section"
  }
{% endschema %}