{
  "extends": [
    "standard"
  ],
  "ignorePatterns": ["assets/*.js", "**/vendor/**/*.js"],
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ]
  },
  "plugins": [
    "vue"
  ]
}