{
  "extends": [
    "standard"
  ],
  "ignorePatterns": ["assets/*.js"],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ]
  },
  "plugins": [
    "vue"
  ]
}