html {
    @include font(sans, $weight: regular);
    @include responsive(font-size, (
        default:  100%,
        full-xl:  110%,
        full-xxl: 130%,

        tablet: 87.5%, // 16px --> 14px
        phone: 87.5%  // 16px --> 14px
    ));
}

.small-print {
    font-size: 0.75rem;
    line-height: 1;
}