// FONT VARIABLES
///////////////////////////////////////////////////////////
$font-name-sans: 'Roboto';
$font-name-title: 'Gilroy';
$font-family-sans: '#{$font-name-sans}', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-title: '#{$font-name-title}', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    extrabold: 800,
    black: 900
);

@function rem($pixel-val) {
    @return (1rem * $pixel-val) / 16;
}

@mixin font-face($filename, $family, $weight, $style: normal) {
    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        src: url('#{$filename}.woff2') format('woff2'),
            url('#{$filename}.woff') format('woff');
    }
}

@mixin font-family($family) {
    @if $family == title {
        font-family: $font-family-title;
    } @else {
        font-family: $font-family-sans;
    }
}

@mixin font-size($size, $family: sans, $uppercase: false) {
    font-size: rem($size);

    @if $family == sans and $uppercase == false {
        @if $size {
            @if $size > 72 {
                letter-spacing: -0.055em;
            } @else if $size > 32 {
                letter-spacing: -0.04em;
            } @else {
                letter-spacing: -0.01em;
            }
        }

    } @else if $family == sans and $uppercase == true {
        @if $size {
            @if $size > 32 {
                letter-spacing: 0;
            } @else if $size > 24 {
                letter-spacing: 0;
            }
            @else if $size > 12 {
                letter-spacing: 0.03em;
            } @else {
                letter-spacing: 0.04em;
            }
        }

    } @else if $family == mono {
        @if $size {
            @if $size > 64 {
                letter-spacing: -0.15em;
            } @else if $size > 24 {
                letter-spacing: -0.1em;
            } @else {
                letter-spacing: -0.05em;
            }
        }
    }
}

@mixin font-weight($weight) {
    $font-weight: map-get($font-weights, $weight);
    font-weight: $font-weight;
}

@mixin font-prettifier() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin font($family, $weight: regular, $size: null, $line-height: null, $uppercase: false) {
    @include font-family($family);

    @if $size {
        @include font-size($size, $family, $uppercase);
    }

    // mono only has regular
    @if $family == mono {
        @include font-weight(regular);
    } @else {
        @include font-weight($weight);
    }

    @if $line-height {
        line-height: $line-height;
    }

    @if $uppercase {
        text-transform: uppercase;
    }
}