.main-content {
    .section,
    .section-background {
        height: 100vh;

        &--auto-height {
            height: auto;
        }
    }

    .section-backgrounds {
        position: relative;
        z-index: 10;
    }

    > section.section {
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
}


