.main-content {
    > section,
    .section-background {
        height: 100vh;
    }

    .section-backgrounds {
        position: relative;
        z-index: 10;
    }

    > section.section {
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    // .section-backgrounds,
    // > section.section,
    // .stage {
    //     transform: tranlsateX(0);
    //     transition: transform 400ms ease;
    // }

    // &.menu-open {
    //     .section-backgrounds,
    //     > section.section,
    //     .stage {
    //         transform: translateX(-50vw);
    //     }

    //     .stage {
    //         filter: blur(4px);
    //     }
    // }
}