.fix {
    &.section {
        height: 150vh;
    }

    &__background { // .fix__background
        background-color: $dark-blue;

        &.section-background {
            height: 150vh;
        }
    }
}

.fixxx{
    color: aliceblue;
    font-size: 30vw;
    letter-spacing: -0.075em;
    margin: 0px;
    padding-right: 11%;
    padding-top: 20vh;
    text-align: end;

}

.fixxxx {
    color: aliceblue;
    float: right;
    padding-left: 5%;
    padding-top: 0%;


}

.nopage {
    color: aliceblue;
    font-size: 30vw;
    letter-spacing: -0.075em;
    margin: 0px;
    padding-right: 25vw;
    padding-top: 20vh;
    text-align: end;
}
