$menu_toggle_width: 1.5rem;
$menu_toggle_height: $menu_toggle_width;

body {
    --hud-color: #{$dark-blue};
}

.header {
    left: 0;
    padding: $page-margin;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &__content {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    &__right-side {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    .logo {
        svg {
            height: 2rem;
            width: auto;

            path {
                @include hud-color(fill);
            }
        }
    }

    .logotype {
        @include font(title);
        @include hud-color(color);
        font-size: 1rem;
        margin-left: 0.6rem;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: left bottom;

        a {
            color: currentColor;
            text-decoration: none;
        }
    }

    .breadcrumb {
        background-color: $light-blue;
        color: $white;
        padding: 0 0.5em 0 0.2em;
        margin-left: 0.3em;

        span {
            &:before {
                @include hud-color(background-color);
                content: '';
                display: inline-block;
                height: 1.15em;
                transform: translateX(-0.25em) translateY(0.25em) rotate(25deg);
                width: 0.14em;
            }
        }
    }

    .menu-toggle {
        cursor: pointer;
        height: $menu_toggle_height;
        position: relative;
        transform: scale(1);
        transition: transform 150ms;
        width: $menu_toggle_width;

        &:hover {
            transform: scale(1.1);
        }

        &:before,
        &:after {
            @include hud-color(background-color);
            backface-visibility: hidden;
            content: '';
            height: 2px;
            position: absolute;
            top: 50%;
            transform-origin: center center;
            transition: transform 200ms ease;
            width: 100%;
        }

        &:before {
            transform: translateY(calc(#{$menu_toggle_height * -0.25} - 50%)) rotate(0deg) translateZ(0);
        }

        &:after {
            transform: translateY(calc(#{$menu_toggle_height * 0.25} + 50%)) rotate(0deg) translateZ(0);
        }

        #App.menu-open & {
            &:before {
                transform: translateY(-50%) rotate(-45deg) translateZ(0);
            }

            &:after {
                transform: translateY(-50%) rotate(45deg) translateZ(0);
            }
        }
    }

    .cart {
        margin-top: 1rem;

        svg {
            path {
                @include hud-color(fill);
            }
        }
    }
}