$menu_toggle_width: 1.5rem;
$menu_toggle_height: $menu_toggle_width * 0.5;

@mixin hud-color($prop) {
    #{$prop}: var(--hud-color);
    transition: $prop 600ms;
}


body {
    --hud-color: #{$dark-blue};
}

.header {
    left: 0;
    padding: $page-margin;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &__content {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    &__right-side {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    .logo {
        svg {
            height: 2rem;
            width: auto;

            path {
                @include hud-color(fill);
            }
        }
    }

    .logotype {
        @include font(title);
        @include hud-color(color);
        font-size: 1rem;
        margin-left: 0.6rem;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: left bottom;
    }

    .breadcrumb {
        background-color: $light-blue;
        color: $white;
        margin-left: 0.3em;
        padding: 0 0.5em 0 0.2em;

        &:before {
            @include hud-color(background-color);
            content: '';
            display: inline-block;
            height: 1.15em;
            transform: translateX(-0.25em) translateY(0.25em) rotate(25deg);
            width: 0.14em;
        }
    }

    .menu-toggle {
        height: $menu_toggle_height;
        position: relative;
        width: $menu_toggle_width;

        &:before {
            @include hud-color(background-color);
            content: '';
            display: none;
            height: 2px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        &:after {
            @include hud-color(border-color);
            border-style: solid;
            border-width: 2px 0 2px;
            box-sizing: border-box;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .cart {
        margin-top: 1rem;

        svg {
            path {
                @include hud-color(fill);
            }
        }
    }
}