.hero {
    --y-visibility-ratio: 1;
    --y-position-ratio: 1;

    height: 100vh;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    z-index: 10;

    .grid {
        align-items: center;
        height: 100%;
    }

    .content {
        display: none;
        height: 100%;
        position: relative;
        align-items: center;
    }

    &.visible {
        .content {
            display: block;
        }
    }

    .title {
        color: $dark-blue;
        font-family: font-family(title);
        font-size: 22rem;
        letter-spacing: -0.04em;
        line-height: 0.75;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateX(-1%) faux-fixed($offset: -50%);

        .the {
            // bottom: calc(100% - 0.06em);
            // letter-spacing: 0;
            // font-size: 0.25em;
            // position: absolute;
            // right: calc(100% - 0.1em);
            // transform: rotate(-90deg);
            // transform-origin: bottom right;
            display: none;
        }

        .top {
            display: inline-block;
        }

        .bottom {
            display: inline-block;
        }

        @include media("<=tablet") {
            font-size: 25vw;
            top: 50%;
            position: absolute;
        }

        @include media("<=phone") {
            align-items: center;
            font-size: 40vw;
            top: 67%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }

    .subtitle {
        background-color: $light-blue;
        color: #fff;
        font-size: 0.09em;
        letter-spacing: normal;
        padding: 0.5em 2em 0.5em 1.5em;
        position: absolute;
        top: 50%;
        transform: translate(0.65em, -50%);
    }

    &__background {
        background-color: #d7e1ea;

        video {
            filter: grayscale(100%) brightness(60%) contrast(300%);
            height: 100%;
            mix-blend-mode: overlay;
            object-fit: cover;
            opacity: 1;
            transform: faux-fixed();
            width: 100%;
        }
    }
}


