$section-height: 250vh;
$copy-block-border-width: 4px;
$copy-block-border-color: $light-blue;
$copy-block-border: $copy-block-border-width solid $copy-block-border-color;

.intro {
    &.section {
        height: $section-height;
    }

    .grid {
        height: 100%;
    }

    .content {
        // opacity: var(--y-visibility-ratio);
        height: 100vh;
        position: relative;
        transform: faux-fixed();
        z-index: 10;
    }

    .section__copy-block {
        border: $copy-block-border;
        box-sizing: border-box;
        margin-left: grid-offset($cols: 8);
        // margin-top: grid-offset($cols: 1);
        margin-top: calc(var(--grid-margin) * 0.75);
        position: relative;
        width: grid-width($cols: 4);
    }

    .section__copy {
        color: $dark-blue;

        &.title {
            align-items: flex-end;
            background-color: $copy-block-border-color;
            border: $copy-block-border;
            bottom: -$copy-block-border-width;
            box-sizing: border-box;
            display: flex;
            overflow: hidden;
            padding: 1.5rem;
            position: absolute;
            right: 100%;
            text-align: right;
            text-transform: uppercase;
            top: -$copy-block-border-width;
            white-space: nowrap;
            z-index: -1;

            > label {
                color: $white;
                font-family: font-family(mono);
                font-size: 0.8rem;
                font-weight: font-weight(medium);
                left: 1rem;
                position: absolute;
                top: 1rem;
            }

            > h1 {
                color: $white;
                font-size: 4rem;
                margin: 0;
                position: relative;
                z-index: 2;
            }
        }

        &.paragraph {
            margin: 0;
            padding: 1.5rem;
            text-align: justify;
        }
    }

    .timeline-toggle-container {
        align-items: center;
        border-top: $copy-block-border;
        display: flex;
        font-family: font-family(mono);
        font-size: 1.1rem;
        font-weight: font-weight(medium);
        // padding-top: 2rem;
        // padding: 1.5em;
        text-transform: uppercase;

        label {
            padding: 0 2rem;
        }
    }

    .timeline-toggle {
        // border: 1px solid $light-blue;
        // border-radius: 1rem;
        display: flex;
        position: relative;
        width: 100%;

        &.new-timeline {
            &:before {
                transform: translateX(100%);
            }

            .timeline-toggle__option:last-child {
                color: $white;
            }
        }

        &:not(.new-timeline) {
            .timeline-toggle__option:first-child {
                color: $white;
            }
        }

        &:before {
            background-color: $copy-block-border-color;
            // border-radius: 1rem;
            content: '';
            height: 4rem;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateX(0%);
            transition: transform 250ms;
            width: 50%;
            z-index: 1;
        }

        &__option {
            border-left: $copy-block-border;
            box-sizing: border-box;
            cursor: pointer;
            flex-grow: 1;
            height: 4rem;
            line-height: 4rem;
            padding: 0 1.5em;
            position: relative;
            text-align: center;
            width: 50%;
            z-index: 2;
        }
    }

    .timeline {
        color: $dark-blue;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 70%;
        width: 100%;

        &:before {
            background-color: $grey;
            border: 1px solid $grey;
            content: '';
            left: -#{$grid-margin};
            position: absolute;
            right: -#{$grid-margin};
            top: 50%;
            transform: translateY(-1px) scaleX(1);
            transform-origin: left center;
            transition: transform 300ms ease-in;
        }

        &__span {
            display: flex;
            flex-grow: 1;
            max-width: 100%;
            opacity: 1;
            position: relative;
            transition: max-width 500ms ease-out, opacity 500ms;
            transition-delay: 1000ms;

            &.fixed-width {
                flex-grow: 0;
                width: 12vw;
            }

            &:before {
                border: 1px solid $orange;
                content: '';
                height: 0;
                left: 0;
                opacity: 1;
                position: absolute;
                right: 0;
                transform: translateY(-50%);
                transition: opacity 500ms, transform 300ms;
                transition-delay: var(--transition-delay);
                z-index: 4;
            }

            &:after {
                border-left: 3px solid $orange;
                border-right: 3px solid $orange;
                content: '';
                height: 1rem;
                left: 0;
                opacity: 1;
                position: absolute;
                right: 0;
                top: -0.5rem;
                transition: opacity 500ms, transform 300ms;
                transition-delay: var(--transition-delay);
                z-index: 4;
            }

            &:nth-child(odd) {
                @extend %extend-down;
            }

            &:nth-child(even) {
                @extend %extend-up;
            }

            @for $i from 0 through 3 {
                &[data-index="#{$i}"] {
                    --transition-delay: #{$i * 200ms};
                }
            }
        }

        &__span-label {
            background-color: $white;
            color: $orange;
            font-family: font-family(mono);
            font-weight: 400;
            left: 50%;
            line-height: 1;
            opacity: 1;
            padding: 0 0.5em;
            position: absolute;
            text-transform: uppercase;
            top: -0.5em;
            transition: opacity 500ms, transform 300ms;
            transition-delay: var(--transition-delay);
            z-index: 5;

            em {
                display: inline-block;
                font-size: 1.5em;
                padding-left: 0.15em;
                transform: translateY(-20%);
                vertical-align: top;
            }
        }

        &__point {
            $point-transition-duration: 300ms;
            flex-grow: 1;
            height: 0;
            position: relative;
            z-index: 5;

            &.taller {
                &:before {
                    height: 8rem;
                    top: -4rem;
                }
            }

            &:before {
                background-color: $grey;
                border: 1px solid $grey;
                content: '';
                height: 4rem;
                left: 50%;
                position: absolute;
                top: -2rem;
                transform: translateX(-50%) scaleY(1);
                transition: transform $point-transition-duration ease-in-out;
                transition-delay: calc(var(--transition-delay) + #{$point-transition-duration});
                width: 0;
            }

            &:after {
                background: $white;
                border: 3px solid $grey;
                border-radius: 50%;
                content: '';
                height: 1.5rem;
                left: 50%;
                position: absolute;
                top: 0;
                transform: translate(-50%, -50%) scale(1, 1);
                transition: transform $point-transition-duration ease-out;
                transition-delay: var(--transition-delay);
                width: 1.5rem;
            }

            label {
                @include font(title, $size: 1rem * 2.5, $line-height: 1);
                display: block;
                left: 50%;
                margin-top: -0.5em;
                opacity: 1;
                position: absolute;
                text-align: center;
                transition: opacity $point-transition-duration, transform $point-transition-duration ease-out;
                transition-delay: calc(var(--transition-delay) + #{$point-transition-duration * 2});
                white-space: nowrap;
            }

            @for $i from 0 through 11 {
                &[data-index="#{$i}"] {
                    --transition-delay: #{$i * 100}ms;
                }
            }
        }

        .strike {
            position: relative;

            &:before {
                bottom: 80%;
                color: $orange;
                content: attr(replace);
                font-family: font-family(hand);
                font-size: 0.8em;
                opacity: 0;
                position: absolute;
                transform: translateY(-50%);
                transition: opacity 200ms, transform 200ms ease-out;
                transition-delay: calc(var(--transition-delay) + 300ms);
            }

            &:after {
                background-color: $orange;
                content: '';
                height: 0.3em;
                left: -0.2em;
                opacity: 0.9;
                position: absolute;
                right: calc(100% + 0.2em);
                top: 50%;
                transform: translateY(-30%);
                transition: right 200ms ease-out;
                transition-delay: var(--transition-delay);
            }
        }

        &__no-wait {
            color: $orange;
            font-family: font-family(hand);
            font-size: 1.5rem;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, 12rem) rotate(-5deg);
            transition: transform 400ms, opacity 400ms;
            transition-delay: 1500ms;
        }
    }

    .hidden-timeline {
        &:before {
            transform: translateY(-1px) scaleX(0);
        }

        .timeline {
            &__span:before,
            &__span:after,
            &__span-label {
                opacity: 0;
            }

            &__point {
                &:before {
                    transform: translate(-50%, 0%) scaleY(0) !important;
                }

                &:after {
                    transform: translate(-50%, -50%) scale(0, 0);
                }

                label {
                    opacity: 0;
                }
            }
        }
    }

    .new-timeline {
        .timeline {
            &__span[data-index="2"] {
                max-width: 0;
                opacity: 0;
            }

            &__span[data-index="3"] {
                @extend %extend-down;
            }

            &__no-wait {
                opacity: 1;
                transform: translate(-50%, 9rem) rotate(-5deg);
            }
        }

        .strike {
            &:before {
                opacity: 1;
                transform: translateY(0);
            }

            &:after {
                right: -0.2em;
            }
        }
    }

    &__background.section-background {
        background-color: $white;
        height: $section-height;
        position: relative;
        z-index: 14;

        .scroll-trigger {
            height: 100vh;

            &:first-child {
                position: relative;
                top: 50vh;
            }
        }
    }

    %extend-down {
        &:before {
            transform: translateY(calc(-1.5rem - 50%));
        }

        &:after {
            transform: translateY(calc(-1.25rem - 4px));
        }

        .timeline__span-label {
            transform: translate(-50%, calc(-1.5rem - 0.1em));
        }

        .timeline__point {
            &:before {
                transform: translate(-50%, 50%) scaleY(1);
            }

            label {
                transform: translate(-50%, 5.5rem);
            }

            &.taller {
                label {
                    transform: translate(-50%, 9.5rem);
                }
            }
        }
    }

    %extend-up {
        &:before {
            transform: translateY(calc(1.75rem + 50%));
        }

        &:after {
            transform: translateY(calc(1.75rem + 2px));
        }

        .timeline__span-label {
            transform: translate(-50%, calc(1.75rem + 0.1em));
        }


        .timeline__point {
            &:before {
                transform: translate(-50%, -50%) scaleY(1);
            }

            label {
                transform: translate(-50%, -5.5rem);
            }

            &.taller {
                label {
                    transform: translate(-50%, -9.5rem);
                }
            }
        }
    }
}
