.intro.page-section {
    :root {
        --y-visibility-ratio: 0;
        --y-position-ratio: 0;
    }

    &::after {
        background-color: $white;
        content: '';
        display: block;
        height: 100%;
        position: relative;
        transform: translateY(-100%);
        width: 100%;
        z-index: 15;
    }

    // z-index: 30;
    .content {
        // opacity: var(--y-visibility-ratio);
        position: relative;
        z-index: 30;
    }

    .display-title {
        text-align: right;
        transform: translateY(calc(-50% - var(--grid-gutter) / 2)) translateX(calc(-100% + 100% * var(--y-position-ratio)));
        transition: transform 150ms ease-out;
    }

    .copy-paragraph {
        transform: translateY(calc(50% + var(--grid-gutter) / 2)) translateX(calc(100% + -100% * var(--y-position-ratio)))
    }
}