.print {
    &.section {
        height: 150vh;
    }

    .grid {
        box-sizing: border-box;
        height: 100%;
    }

    .content {
        transform: faux-fixed();
    }

    .title {
        font-size: 35vw;
        letter-spacing: -0.05em;
        margin-top: -10vh;
        position: relative;
        text-align: center;
        transform: translateX(-0.8vw);

        @include media("<=tablet") {
            font-size: 30vw;
            margin-top: 2vh;
        }

        @include media("<=phone") {
            font-size: 30vw;
            margin-top: 5vh;
        }
    }

    .printp {
        @include media("<=tablet") {
            width: grid-width(5);
            font-size: 1rem;  
            margin: 0 grid-offset($cols: 1);
        }

        @include media("<=phone") {
            width: grid-width(5);
            font-size: 0.8rem;  
        }
    }

    .print-head {
        background-color: currentColor;
        color: $dark-blue;
        height: 50vh;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 5.8vw;

        &:before {
            border-left: 2.6vw solid transparent;
            border-right: 2.6vw solid transparent;
            border-top: 2vw solid currentColor;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 105%;
            transform: translateX(-50%);
            width: 1rem;
        }

        &:after {
            background-color: currentColor;
            bottom: -5%;
            content: '';
            height: 2vw;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 8vw;
        }

        .filament {
            background-color: $white;
            bottom: -3.3vw;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 0.75rem;
            z-index: 10;

            &:before {
                background-color: $orange;
                content: '';
                height: calc(100% * var(--y-position-ratio));
                left: 50%;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                width: 0.5rem;
            }
        }
    }

    .copy {
        display: flex;
        justify-content: space-between;
        // margin: 0 grid-offset($cols: 1);
        text-align: justify;
    }

    &__background {
        &.section-background {
            height: 150vh;
            overflow: hidden;
            position: relative;
        }

        .build-plate-grid {
            --grid-size: calc(((100vw - #{$grid-margin / 2}) / 60));
            height: 100vh;
            left: 50%;
            perspective: 100vh;
            position: absolute;
            top: 0;
            transform: translateX(-50%) faux-fixed();
            width: 200vw;

            &:before {
                background-image: linear-gradient($grey 5px, transparent 2px), linear-gradient(90deg, $grey 2px, transparent 2px);
                background-position: center center;
                background-size: var(--grid-size) var(--grid-size);
                border: 1px solid $grey;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: translateY(30vh) rotateX(90deg);
                transform-origin: center;
                width: 100%;
            }

            &:after {
                background-image: linear-gradient($white, rgba($white, 0));
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: translateY(30vh) rotateX(90deg);
                width: 100%;  
            }
        }
    }
}