.print {
    &.section {
        height: 150vh;
    }

    .grid {
        box-sizing: border-box;
        height: 100%;
    }

    .content {
        border: 8px solid $dark-blue;
        display: flex;
        height: 80vh;
        opacity: var(--y-visibility-ratio);
        overflow: hidden;
        transform: faux-fixed($offset: 8vh);
    }

    .title {
        border-right: 4px solid $dark-blue;
        position: relative;

        h1 {
            font-size: 25vw;
            letter-spacing: -0.05em;
            margin-top: -0.1em;
            position: relative;
            text-align: left;
            transform: translateX(-0.08em);

            @include media("<=tablet") {
                font-size: 30vw;
                margin-top: 2vh;
            }

            @include media("<=phone") {
                font-size: 30vw;
                margin-top: 5vh;
            }
        }


        h3 {
            background-color: $light-blue;
            color: $white;
            padding: 0.25em 1em;
            position: absolute;
            right: 0%;
            text-transform: uppercase;
            top: 9vw;
            transform: translateY(-50%);
        }

    }

    .print-head {
        background-color: currentColor;
        color: $dark-blue;
        height: 40vh;
        left: 48%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 5.8vw;

        &:before {
            border-left: 2.6vw solid transparent;
            border-right: 2.6vw solid transparent;
            border-top: 2vw solid currentColor;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 103%;
            transform: translateX(-50%);
            width: 1rem;
        }

        &:after {
            background-color: currentColor;
            bottom: -4%;
            content: '';
            height: 2vw;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 8vw;
        }

        .filament {
            background-color: $white;
            bottom: -3.3vw;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 0.75rem;
            z-index: 10;

            &:before {
                background-color: $orange;
                content: '';
                height: calc(100% * var(--y-position-ratio));
                left: 50%;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                width: 0.5rem;
            }
        }
    }

    .copy {
        border-bottom: 4px solid $dark-blue;
        // display: flex;
        // justify-content: space-between;
        padding: 3rem;
        // margin: 0 grid-offset($cols: 1);
        // text-align: justify;
    }

    &__background {
        &.section-background {
            height: 150vh;
            overflow: hidden;
            position: relative;
        }

        .build-plate-grid {
            --grid-size: calc(((100vw - #{$grid-margin / 2}) / 60));
            height: 100vh;
            left: 50%;
            perspective: 100vh;
            position: absolute;
            top: 0;
            transform: translateX(-50%) faux-fixed();
            width: 200vw;

            &:before {
                background-image: linear-gradient($grey 5px, transparent 2px), linear-gradient(90deg, $grey 2px, transparent 2px);
                background-position: center center;
                background-size: var(--grid-size) var(--grid-size);
                border: 1px solid $grey;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: translateY(30vh) rotateX(90deg);
                transform-origin: center;
                width: 100%;
            }

            &:after {
                background-image: linear-gradient($white, rgba($white, 0));
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: translateY(30vh) rotateX(90deg);
                width: 100%;
            }
        }
    }
}