$border-size: 5rem;

body[incoming-section='specs'] {
    --hud-color: #{$white};

    .primary-canvas {
        transform: translateY(calc(-5% * var(--incoming-y-visibility-ratio)));
    }
}
body[outgoing-section='specs'] {
    .primary-canvas {
        transform: translateY(calc(-5% * var(--outgoing-y-visibility-ratio)));
    }
}

.specs {
    font-family: font-family(mono);
    font-weight: 300;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    z-index: 30;

    &.section {
        height: 150vh;
    }

    &__content {
        height: 100vh;
        position: relative;
        transform: faux-fixed();
    }

    .data-table {
        $data-table-border: 1px solid rgba($white, 0.6);
        border: $data-table-border;
        color: $white;
        font-size: 0.75rem;
        opacity: calc(0.9 * var(--y-visibility-ratio));
        text-transform: uppercase;
        z-index: 10;

        .row {
            border-bottom: $data-table-border;
            display: flex;

            &:last-child {
                border-bottom: none;
            }
        }

        .col {
            border-right: $data-table-border;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            position: relative;
            text-align: center;

            &.no-grow {
                flex-grow: 0;
            }

            label {
                @include font-weight(regular);
                border-bottom: $data-table-border;
                padding: 0.25em;
            }

            .value {
                @include font-weight(medium);
                padding: 0.25em;
            }
        }
    }

    &__header {
        position: absolute;
        right: $grid-margin;
        top: $grid-margin * 0.25;

        &.data-table {
            .col {
                label {
                    font-size: 0.8em;
                }

                .value {
                    padding: 0.25em 1em;
                }
            }
        }
    }

    &__copy {
        box-sizing: border-box;
        color: $white;
        left: $grid-margin;
        opacity: var(--y-visibility-ratio);
        padding: 0 2rem;
        position: absolute;
        text-align: justify;
        top: $grid-margin * 0.5;
        width: grid-width($cols: 3);

        p {
            font-size: 0.95rem;
        }
    }

    &__footer {
        bottom: $grid-margin * 0.5;
        left: $grid-margin;
        position: absolute;
        width: grid-width(10);

        &.data-table {
            .col {
                justify-content: center;

                label {
                    border: none;
                    font-size: 0.65rem;
                    left: 0;
                    padding: 0.5em;
                    position: absolute;
                    top: 0;
                }

                .value {
                    font-size: 1rem;
                    padding: 0.3em 0.5em;
                }
            }
        }

        svg {
            fill: $white;
            height: 2rem;
            margin: 0 0.25rem;
            width: auto;
        }
    }

    &__decoration {
        $dimension-color: #66f7ff;
        height: grid-width(5);
        left: 50%;
        pointer-events: none;
        position: relative;
        top: 45vh;
        transform: translate(-50%, -50%);
        width: grid-width(5);
        z-index: 40;

        .dimension {
            background-clip: padding-box;
            background-color: $dimension-color;
            border-bottom: 2px solid rgba($dark-blue, 0.75);
            border-top: 2px solid rgba($dark-blue, 0.75);
            height: 2px;
            opacity: var(--y-visibility-ratio);
            position: absolute;
            z-index: 0;

            label {
                @include font-weight(medium);
                background-color: $dimension-color;
                color: $dark-blue;
                display: block;
                font-size: 0.75rem;
                left: 50%;
                padding: 0.3em 0.5em;
                position: absolute;
                text-transform: uppercase;
                top: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;

                span {
                    font-size: 0.55rem;
                }
            }

            &:before,
            &:after {
                background-clip: padding-box;
                background-color: $dimension-color;
                content: '';
                height: 1rem;
                position: absolute;
                top: 0;
                transform: translateY(-50%);
                width: 2px;
                z-index: -2;
            }

            &:before {
                border-left: 3px solid rgba($dark-blue, 0.75);
                left: -3px;
            }

            &:after {
                border-right: 3px solid rgba($dark-blue, 0.75);
                right: -3px;
            }


            &.x-axis {
                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
                width: calc((100% - 2rem) * var(--y-visibility-ratio));
            }

            &.y-axis {
                left: -0.5rem;
                top: 50%;
                transform: translateX(-50%) rotate(-90deg);
                width: calc((100% - 2rem) * var(--y-visibility-ratio));
            }

            &.wheelbase {
                left: 48%;
                top: 52%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: calc(72% * var(--y-visibility-ratio));
            }

            &.prop-size {
                right: -0.5rem;
                top: 24.25%;
                transform: translateX(50%) rotate(90deg);
                width: calc(40% * var(--y-visibility-ratio));
            }

            &.camera-size {
                left: 51%;
                top: 2%;
                transform: translate(-50%, -50%);
                width: 10%;

                label {
                    top: -1.5rem;
                }
            }

            &.whoop-pattern {
                left: 42%;
                top: 58%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 20%;

                label {
                    transform: translate(-100%, 0%) rotate(-45deg);
                    transform-origin: right center;
                }
            }

            &.micro-pattern {
                left: 53%;
                top: 50%;
                transform: rotate(90deg);
                width: 15%;

                label {
                    top: -1.5rem;
                    transform: translate(0, 40%) rotate(-90deg);
                    transform-origin: left center;
                }
            }

            &.motor-pattern {
                left: 79%;
                top: 72%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 6%;

                label {
                    top: -2rem;
                    transform: translate(0, 40%) rotate(-45deg);
                    transform-origin: left center;
                }
            }
        }
    }

    &__background {
        --grid-size: calc(((100vw - #{$grid-margin / 2}) / 60));
        background-color: $dark-blue;
        position: relative;

        &.section-background {
            height: 150vh;
        }

        .specs-grid {
            background-image: linear-gradient(rgba($white, .1) 1px, transparent 1px), linear-gradient(90deg, rgba($white, .1) 1px, transparent 1px);
            background-position: center center;
            background-size: var(--grid-size) var(--grid-size);
            border: 1px solid rgba($white, 0.1);
            content: '';
            height: calc(100vh - #{$grid-margin * 0.75});
            left: $grid-margin;
            opacity: var(--y-visibility-ratio);
            pointer-events: none;
            position: absolute;
            right: $grid-margin;
            top: $grid-margin * 0.25;
            transform: faux-fixed();
        }

        .grid-border {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            display: none;
            height: $border-size;
            position: absolute;
            width: 100%;

            &:before,
            &:after {
                background-color: $white;
                content: '';
                height: 1px;
                position: absolute;
                width: $border-size;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            &--top {
                top: 0;

                &:before,
                &:after {
                    top: 0;
                }
            }

            &--bottom {
                bottom: 0;

                &:before,
                &:after {
                    bottom: 0;
                }
            }
        }
    }

    &.visible {
        .specs {
            &__grid,
            &__decoration {
                display: block;
            }
            &__table {
                display: flex;
            }
        }
    }

    .spec {
        color: $white;
    }
}